html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0
}

body {
    align-items: center;
    justify-content: center;
    background: linear-gradient(320deg, #041dfc, #ff3232);
    display: flex;
    height: inherit;
    font-family: 'Courier New', sans-serif;
    font-display: swap;
}

.wrapper {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.75);
    min-width: 460px;
    height: 75%;
    padding: 20px;
}

.screen {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    height: 65px;
    padding: 10px;
    text-align: right;
    font-size: 37px;
    justify-content: center;
}

.calc-row {
    display: flex;
    justify-content: space-between;
    margin: 5% 0 4em
}

.calc-button {
    background: rgba(255, 255, 255, 0.8);
    flex-basis: 20%;
    height: 65px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(35, 35, 35, 0.1);
    border-radius: 15px;
    color: black;
    font-size: 26px;
    font-family: inherit;
}

.calc-button:last-child {
    background: #2b00b7;
    color: white;
}

.calc-button:last-child:hover {
    background: white;
    color: black;
}

.calc-button:hover {
    background: black;
    color: white;
}